<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <script type="module" src="/public/scripts/index.js"></script>

</head>
<body>
    <h1>Home Page</h1>
    <br>
    <a href="/song">Add a song</a>
    <br>
    <h3>Search for song</h3>
    <input type="text" id="artist">
    <input type="button" value="Search!" id="search">
    <br>
    <br>
    
    <div id="results">
        <h3>Results</h3>
        <div id="resultsList" ></div>

    </div>
    


    
</body>
</html>