<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/song/create" method="POST">
        <label >Title:</label>
        <input name="title"><br>
        <label >Artist:</label>
        <input name="artist"> <br>
        <label >Year:</label>
        <input name="year"> <br>
        <label >downloads:</label>
        <input name="downloads"> <br>
        <label >Price:</label>
        <input name="price"> <br>
        <label >Quatnity:</label>
        <input name="quantity"> <br>
        <input type="submit" value="Add Song">

    </form>
</body>
</html>