<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <script type="module" src="/public/scripts/index.js"></script>
    <script type="module" src="/public/scripts/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'/>
    <script type='text/javascript' src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'></script>

</head>
<body>
    <h1>Home Page</h1>
    <br>
    <a href="/songs/song">Add a song</a>
    <br>
    <a href="/songs/all">See all songs</a>
    <br>
    <a href="/allLocation">Locations</a> <br> <br>

    <button id="loginBut">Login</button>
    <button id="logoutBut">Loggout</button>

    <div id="loginD">
        <div class="login-page">
            <div class="form">
                <input type="text" id="username" name="username" placeholder="Username"/>
                <input type="password" id="password" name="password" placeholder="Password"/>
            </div>
          </div>

    </div>


    <h3>Search for song</h3>
    <input type="text" id="artist">
    <input type="button" value="Search!" id="search">
    <br> <h3>Find artist hometown</h3>
    <input type="text" id="artistHome">
    <input type="button" value="Search!" id="searchome">
    <br>
    <br>
    <button id="buton">All markers</button>
    
    <div id="results">
        <h3>Results</h3>
        <div id="resultsList" ></div>

    </div>
    <br> <!--The map div-->
    <div id="map1" style="width:800px; height:600px"> </div>



    
</body>
</html>